*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #fff;
}

.card {
  height: 100px;
  background-color: rgb(17, 34, 34, 1);
  /* color: #ddd; */
  font-size: 2rem;
  border-radius: 4px;
  border: 2px solid transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  /* color: rgba(68, 68, 68, 0.4); */
  user-select: none;
  font-family: "Alegreya", sans-serif;
}

.card:nth-child(even) {
  height: 200px;
}
.card:nth-child(odd) {
  height: 300px;
}
